<div class="card text-center">
  <div class="card-header">
    {{ model.title }}
  </div>
  <div class="card-body">
    <div class="card-body__img-part">
      <img class="card-body__img-part__img" src="/assets/img/trizub.png">
    </div>
    <div class="card-body__text-part">
      <p class="card-text px-3">{{ model.petition_text }}</p>
    </div>
    <div class="card-body__info-part">
      <div class="card-body__info-part__signatures">
        <h5 class="card-body__info-part__signatures__text">Підписів</h5>
        <!--<div class="card-body__info-part__signatures__counter">{{ petition.signature }}</div>-->
      </div>

      <!--{% if (isAuth and isAuth == true) %}-->
      <!--<div class="card-body__info-part__subscribe mt-4">-->
        <!--<a href="/subscribePetition/{{petition.id}}" class="btn btn-outline-success">Підписати</a>-->
      <!--</div>-->
      <!--{% endif %}-->
      <!--{% if (userId and userId == petition.owner_id) %}-->
      <!--<div class="card-body__info-part__subscribe mt-4">-->
        <!--<a href="/editPetition/{{petition.id}}" class="btn btn-outline-warning">Редагувати</a>-->
      <!--</div>-->
      <!--{% endif %}-->
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="card-footer__info-text">
      <span>Дата створення: {{ model.created_date }}</span>
    </div>

  </div>
</div>
